body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #933a2b;
}

hr.light {
  border-color: #fff;
}

a {
  color: #933a2b;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #933a2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.bg-primary {
  background-color: #933a2b !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-color: transparent;
  background-color: transparent;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #933a2b;
  opacity: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #933a2b;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #933a2b;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #933a2b !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

#mainNav.navbar-shrink {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
}

#mainNav.navbar-shrink .navbar-brand {
  color: #933a2b;
  opacity: 0.8;
}

#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
  opacity: 1;
}

#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
  color: #212529;
}

#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #933a2b;
}

@media (min-width: 700px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
}

header.masthead {
  position: absolute;
  width: 100%;
  top: 0px;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.members-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.members-box .members-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(147, 58, 43, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.members-box .members-box-caption .members-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.members-box .members-box-caption .members-box-caption-content .member-category,
.members-box .members-box-caption .members-box-caption-content .member-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.members-box .members-box-caption .members-box-caption-content .member-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.members-box .members-box-caption .members-box-caption-content .member-name {
  font-size: 18px;
}

.members-box:hover .members-box-caption {
  opacity: 1;
}

.members-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .members-box .members-box-caption .members-box-caption-content .member-category {
    font-size: 16px;
  }
  .members-box .members-box-caption .members-box-caption-content .member-name {
    font-size: 22px;
  }
}

.text-primary {
  color: #933a2b !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #933a2b;
  border-color: #933a2b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #7f3225 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}

/*----------------------------------------------   
--Banner
-----------------------------------------------  */
.sect-banner {
  display: table;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /*-- Full Height --*/
  height: 42vh;
  color: rgba(255, 255, 255, 0.9);
  /*-- Vertically center --*/
}

.sect-banner .v-center {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 4;
  padding: 0 5%;
}

@media (min-width: 700px) {
  .sect-banner {
    height: 100vh;
  }
}

/*----------------------------------------------   
--Keyframes
-----------------------------------------------  */
@-webkit-keyframes fade-out {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes fade-out {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

/*----------------------------------------------   
--List for images, sm and large
-----------------------------------------------  */
ul.kf-slider {
  /*-- Image 2 --*/
  /*-- Image 3 --*/
  /*-- Image 4 --*/
  /*-- Image 5 --*/
  /*-- Image 6 --*/
  /*-- Image 7 --*/
  /*-- Image 8 --*/
}

ul.kf-slider li {
  height: 40%;
  width: 100%;
  position: absolute;
  margin-left: -40px;
  margin-top: -128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 0;
  opacity: 0;
  /*-- Add animation --*/
  -webkit-animation: fade-out 48s infinite both;
  -moz-animation: fade-out 48s infinite both;
  animation: fade-out 48s infinite both;
  /*-- Image 1: small --*/
  background-image: url(../img/headers/1.jpg);
}

@media (min-width: 700px) {
  ul.kf-slider li {
    height: 100%;
  }
}

@media (min-width: 32ems) {
  ul.kf-slider li {
    /*-- Image 1: large --*/
    background-image: url(../img/headers/1.jpg);
  }
}

ul.kf-slider li:nth-child(2) {
  background-image: url(../img/headers/2.jpg);
  /*-- Animation delay: 3s --*/
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

@media (min-width: 32ems) {
  ul.kf-slider li:nth-child(2) {
    background-image: url(../img/headers/2.jpg);
  }
}

ul.kf-slider li:nth-child(3) {
  background-image: url(../img/headers/3.jpg);
  /* Animation delay: 6s */
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  animation-delay: 12s;
}

@media (min-width: 32ems) {
  ul.kf-slider li:nth-child(3) {
    background-image: url(../img/headers/3.jpg);
  }
}

ul.kf-slider li:nth-child(4) {
  background-image: url(../img/headers/4.jpg);
  /* Animation delay: 6s */
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  animation-delay: 18s;
}

@media (min-width: 32ems) {
  ul.kf-slider li:nth-child(4) {
    background-image: url(../img/headers/4.jpg);
  }
}

ul.kf-slider li:nth-child(5) {
  background-image: url(../img/headers/5.jpg);
  /* Animation delay: 6s */
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  animation-delay: 24s;
}

@media (min-width: 32ems) {
  ul.kf-slider li:nth-child(5) {
    background-image: url(../img/headers/5.jpg);
  }
}

ul.kf-slider li:nth-child(6) {
  background-image: url(../img/headers/6.jpg);
  /* Animation delay: 6s */
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  animation-delay: 30s;
}

@media (min-width: 32ems) {
  ul.kf-slider li:nth-child(6) {
    background-image: url(../img/headers/6.jpg);
  }
}

ul.kf-slider li:nth-child(7) {
  background-image: url(../img/headers/7.jpg);
  /* Animation delay: 6s */
  -webkit-animation-delay: 36s;
  -moz-animation-delay: 36s;
  animation-delay: 36s;
}

@media (min-width: 32ems) {
  ul.kf-slider li:nth-child(7) {
    background-image: url(../img/headers/7.jpg);
  }
}

ul.kf-slider li:nth-child(8) {
  background-image: url(../img/headers/8.jpg);
  /* Animation delay: 6s */
  -webkit-animation-delay: 42s;
  -moz-animation-delay: 42s;
  animation-delay: 42s;
}

@media (min-width: 32ems) {
  ul.kf-slider li:nth-child(8) {
    background-image: url(../img/headers/8.jpg);
  }
}

#about {
  margin-top: -7px;
}
